{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "^@mui/(.*)$",
    "^@/config/(.*)$",
    "^@/features/(.*)$",
    "^@/sanity/(.*)$",
    "^@/shared/(.*)$",
    "^@/lib/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
